.env
*.env
**/secrets.py
**/*token*.txt
**/*_token.py

__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/
.ipynb_checkpoints/

data/raw/
data/pipeline/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.pem
*.key
config.local.*